#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding-bottom: 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 50%;
  transform: rotate(25deg);
}

#features {
  padding: 7% 15%;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.icons {
  margin-bottom: 1rem;
  color: #ef8172;
}
.icons:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;

  text-align: center;
  color: #fff;
}

h2 {
  font-family: montserrat;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 900;
}

.testimonial-image {
  border-radius: 100%;
  width: 7%;
  margin: 20px;
}

/*Press Section*/
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

/*Pricing Section*/

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
  text-align: center;
}

/*cta Section*/
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
}
.ctn-btn{
  margin: 3% 1%;
}

/*footer Section*/ 
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 2% 1%;
}

/*Media Query*/ 
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-image{
    transform: rotate(0);
  }
}